CLIENT_URL=http://localhost:5173
CLIENT_PAYMENT_RETURN_URL=http://localhost:5173/thanh-vien/thanh-toan/
PORT=5001
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=postgres
DB_PASSWORD=
DB_DIALECT=postgres
NODE_ENV=development
JWT_SECRET=daylamotmatkhaumanh
TWILLO_ACCOUNT_SSD=
TWILLO_AUTH_TOKEN=
TWILLO_SERVICE_SID=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
VNP_TMNCODE=
VNP_HASHSECRET=
VNP_URL=
VNP_RETURN_URL=
VNP_BANKCODE=